*.log

# Javascript, if we want to use eslint or something
node_modules

# Python
.venv/
.cache

*.pyc
__pycache__/

instance/
instance_test/
.webassets-cache

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/
database.csv
