<html lang="en">

<head>
    <title>Hello World</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-Clacks-Overhead" content="GNU Terry Pratchett" />
    <link rel="stylesheet" href="static/normalise.css" />
</head>

<body>
    <main>
        <h1 id="TITLE">Hello World, its {{ app_name }}</h1>
        <p>This is KiSM's Flask Boilerplate.</p>
        <p><div id="MY_COOL_FIELD">loading...</div></p>
        <p><div id="MY_COOL_RESULT">loading...</div></p>
    </main>
</body>

<script src="static/mycoolapp.js"></script>

</html>
